.header{
    display: flex;
}

.header-container-content{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-right: 5rem;
}

.header-container-content h1{
    color: white;
    font-family: var(--font-family);
    font-size: 70px;
    line-height: 75px;
    font-weight: 1000;
}
.header-container-content h4{
    margin-top: 5px;
    color: white;
    font-family: var(--font-family);
    font-size: 23px;
    font-weight: 500;
    line-height: 30px;
}

.header-container-content h2{
    margin-top: 10px;
    color: white;
    font-family: var(--font-family);
    font-size: 30px;
    font-weight: 800;
    line-height: 35px;
}

.header-container-content p{
    margin-top: 5px;
    color: white;
    font-family: var(--font-family);
    font-size: 21px;
    font-weight: 300;
    max-width: 70%;
}

.header-btn{
    margin: 20px 0 20px 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 120px;
    height: 50px;
}

.header-btn a{
    padding-top: 10px;
    font-family: var(--font-family);
    font-size: 18px;
    font-weight: 700;
    color: white;
    background: var(--color-bg);
    border: 1px solid rgb(255, 255, 255);
    height: 100%;
    width: 100%;
    text-align: center;
    outline: 1px solid white;
    outline-offset: -3px;
}

.header-btn :hover{
    background-color: #26384a;
    transition: 1s;
}

.header-model{
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--color-bg);
    height: 600px;
    width: 600px;
}

.canvas{
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 1000px){
    .header{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .header-container-content{
        margin:0 auto; 
    }
    .header-model{
        height: 500px;
        width: 500px;
    }
}

@media screen and (max-width: 600px){
    .header-container-content h1{
        font-size: 35px;
        line-height: 40px;
    }
    .header-container-content h4{
        font-size: 18px;
        line-height: 22px;
    }
    .header-container-content h2{
        font-size: 25px;
        line-height: 28px;
    }
    .header-container-content p{
        font-size: 14px;
        max-width: 100%;
    }
    .header-model{
        height: 220px;
        width: 221px;
        margin: 0 auto;
    }
    .header-btn{
        max-width: 90px;
        max-height: 35px;
    }
    .header-btn a{
        padding-top: 6px;
        font-size: 14px;
    }
}

@media screen and (max-width: 400px){
    .header-container-content h1{
        font-size: 28px;
        line-height: 35px;
    }
    .header-container-content h4{
        font-size: 14px;
        line-height: 18px;
    }
    .header-container-content h2{
        font-size: 22px;
        line-height: 28px;
    }
    .header-container-content p{
        font-size: 10px;
        max-width: 100%;
    }
    .header-model{
        height: 190px;
        width: 190px;
        margin: 0 auto;
    }
}