.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 6rem;
}

.navbar-links{
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.navbar-links-logo{
    margin-right: 2rem;
}

.gpt4_navbar-links_logo img {
    width: 62.56px;
    height: 16.02px;
  }

.navbar-links-container{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin-left: auto;
}


.navbar-links-container p,
.navbar-menu-container-links p{
    color: #fff;
    font-family: var(--font-family);
    font-weight: 500;
    margin: 0 1rem;
    font-size: 20px;
    line-height: 28px;
    text-transform: capitalize;
    cursor: pointer;
    text-decoration: none;
}

.navbar-menu{
    position: relative;
    display: none;
    margin-left: 1rem;
}

.navbar-menu svg{
    cursor: pointer;
}

.navbar-menu-container{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    text-align: end;
    background: var(--color-bg);
    padding: 2rem;
    position: absolute;
    top: 40px;
    right: 0;
    margin-top: 1rem;
    min-width:210px;
    border-radius: 5px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

.navbar-menu-container p{
    font-family: var(--font-family);
    margin: 1rem 0;
}

@media screen and (max-width: 1000px) {
    .navbar-links-container{
        display: none;
    }
    .navbar-menu{
        display: flex;
    }
}

@media screen and (max-width: 700px) {
    .navbar{
        padding: 2rem 4rem;
    }
    .navbar-menu{
        display: flex;
    }
}

@media screen and (max-width: 550px){
    .navbar{
        padding: 2rem;
    }
    .navbar-menu-container{
        top: 30px;
    }
}